* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
/* #0077ab */
body {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  font-family: "Times New Roman", Times, serif;
}

.heading {
  background-color: rgb(186, 99, 0);
  padding: 2rem;
  background: rgba(165, 42, 42, 0.471);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 1rem;
}

h2 {
  color: white;
  letter-spacing: 0.5rem;
  text-align: center;
}

form {
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: "Playfair Display SC", serif;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #987544;
    box-shadow: 0 0 5px rgba(152, 117, 68, 0.5);
}

button {
    width: 45%;
    margin: 5px;
    padding: 15px;
    background-color: #af8d81;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2em;
}

.event-box {
  padding: 1rem 2rem;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgba(222, 222, 255, 0.471);
  box-shadow: 0 0 10rem rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}
