/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    font-family: "Playfair Display SC", serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h2 {
    background-color: #805a4c;
    color: white;
    text-align: center;
    width: 100vw; /* Full viewport width */
    margin: 0;
    padding: 1em;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    font-size: 2em; /* Adjust font size as needed */
}

form {
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: "Playfair Display SC", serif;
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #987544;
    box-shadow: 0 0 5px rgba(152, 117, 68, 0.5);
}

button {
    width: 100%;
    padding: 15px;
    background-color: #af8d81;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2em;
}

button:hover {
    background-color: #805a4c;
}

.events-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.event-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
